
@{
    ViewBag.Title = "Hatali";
    Layout = "~/Views/Shared/_Personel.cshtml";
}


<h3 class="container display-3"> Hatalı Değer Girdiniz Lütfen Tekrar Giriniz </h3>
<p class="container">@Html.ActionLink("Geri Dön", "Islem", "PersonelIslem", null, new { @class = "btn btn-warning text-center" })</p>

