
@{
    ViewBag.Title = "DiyalizUnitesi";
    Layout = "~/Views/Shared/_Anasayfa.cshtml";
}

<div class="container py-5">
    <div class="row justify-content-center align-items-center">
        <div class="col-lg-6 col-md-12">
            <div class="px-lg-5">
                <h2 class="display-4 mb-4">Diyaliz Ünitesi</h2>
                <p class="lead">Bartın Devlet Hastanesi Diyaliz Ünitemizde 18, diğer yoğun bakım ünitelerinde 9, toplamda 27 diyaliz cihazı ile vatandaşlarımıza hizmet vermektedir. 1 Nefroloji Uzmanımız eşliğinde 5 Diyaliz Teknikeri, 5 Hemşire, 1 Teknisyen, 1 sekreterya ile günlük 40-45 hastaya hizmet vermektedir. Hastalarımız Diyaliz Nakil Aracı ile bulundukları yerlerden alınıp diyaliz sonrası tekrar ikametlerine bırakılmaktadır. Bunun yanında Yoğun Bakım üniteleri ve Servislerde yatan akut ve kronik hastalara yerinde diyaliz hizmeti verilmektedir.</p>
            </div>
        </div>
        <div class="col-lg-6 col-md-12">
            <img src="https://dosyahastane.saglik.gov.tr/Resim/306472/0/61714556546jpg.png" alt="Diyaliz Ünitesi" class="img-fluid">
        </div>
    </div>
    
</div>
