
@{
    ViewBag.Title = "DiyabetOkulu";
    Layout = "~/Views/Shared/_Anasayfa.cshtml";
}


<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Diyabet Okulu</title>
   <link href="~/Content/diyabet.css" rel="stylesheet" />
</head>
<body>
    <div class="container my-md-1">
       
        <div class="section_our_solution">
            <div class="row">
              
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <div class="our_solution_category">
                        <div class="solution_cards_box">

                            <div class="solution_card">
                                <div class="hover_color_bubble"></div>
                                <div class="so_top_icon">
                                        </div>
                                <div class="solu_title">
                                    <h3>Diploma</h3>
                                </div>
                                <div class="solu_description">
                                    <p>
                                        Diyabet Okulu'nda eğitim programını başarıyla tamamlayan katılımcılara diploma verilmektedir. Bu diploma, diyabet yönetimi konusunda katılımcıların bilgi ve becerilerini kanıtlamaktadır. Eğitim süreci, bireylerin diyabetle yaşam kalitelerini artırmalarına yardımcı olacak kapsamlı bilgileri içermektedir. Program sonunda katılımcılar, diyabet yönetimi konusunda bilinçli ve donanımlı bireyler olarak topluma katkı sağlamaktadır.
                                    </p>

                                </div>
                            </div>



                            <div class="solution_card">
                                <div class="hover_color_bubble"></div>
                                <div class="so_top_icon">
                                   </div>
                                <div class="solu_title">
                                    <h3>Diyabet</h3>
                                </div>
                                <div class="solu_description">
                                    <p>
                                        Diyabet hastalarına özel eğitim programları, doğru insülin kullanımı ve evde şeker ölçüm yöntemleri hakkında detaylı bilgi verilmektedir. Eğitimlerde,
                                        diyabet yönetimi konusunda temel bilgiler aktarılmakta ve hastaların günlük yaşamlarını daha sağlıklı bir şekilde sürdürebilmeleri için gerekli olan beceriler kazandırılmaktadır.
                                        Ayrıca, doğru beslenme alışkanlıkları, düzenli egzersiz yapmanın önemi ve diyabetle ilgili diğer önemli konular üzerinde durulmaktadır.
                                    </p>
                                </div>
                            </div>
                            <div class="solution_card">
                                <div class="hover_color_bubble"></div>
                                <div class="so_top_icon">
                               </div>
                                <div class="solu_title">
                                    <h3>Hipoglisemi</h3>
                                </div>
                                <div class="solu_description">
                                    <p>
                                        Hipoglisemi ve hiperglisemi durumlarında yapılması gerekenler hakkında detaylı eğitimler verilmektedir. Hipoglisemi, kandaki şeker seviyesinin normalin altına düşmesi durumudur ve acil müdahale gerektirebilir.
                                        Diyabet Okulu'nda katılımcılara, hipoglisemi belirtileri, nedenleri ve önleyici tedbirler hakkında kapsamlı bilgiler sunulmaktadır. Ayrıca, hipoglisemi durumunda yapılması gereken acil müdahaleler ve şeker seviyesini hızlı bir şekilde normale döndürme yöntemleri öğretilmektedir.
                                    </p>

                                </div>
                            </div>
                            
                            <!-- Diğer çözümler buraya eklenebilir -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0/js/bootstrap.bundle.min.js"></script>
