@{
    ViewBag.Title = "EvdeSaglik";
    Layout = "~/Views/Shared/_Anasayfa.cshtml";
}

<section class="py-6 bg-gray-100">
    <div class="container">
        <div class="row align-items-center">
            <!-- Image Section -->
            <div class="col-lg-6">
                <div class="d-flex align-items-center justify-content-center position-relative rounded py-17 border-gray-100 border border-4 rounded-3 bg-cover" style="background-image: url('/Image/gallery/gallery-1.jpg'); height: 300px;">
                </div>
            </div>
            <!-- Content Section -->
            <div class="col-lg-6">
                <h2 class="display-4 fw-bold mb-3">Evde Bakım Hizmetleri</h2>
                <p class="mb-4 lead">Evde bakım, hastaların veya hasta yakınlarının kendi ev ortamlarında sağlık hizmetlerine erişimini sağlayan bir hizmettir. Bu hizmet, hastaların hastaneye gitmek yerine evlerinde sağlık hizmetlerini alabilmelerine olanak tanır.</p>
                <ul class="mb-4">
                    <li>Teşhis ve tedavi sonrası bakım</li>
                    <li>Kronik hastalık yönetimi</li>
                    <li>Rehabilitasyon</li>
                    <li>Koruyucu sağlık taramaları</li>
                    <li>Ve daha fazlası...</li>
                </ul>
                <p>Evde bakım hizmetleri, hastaların yaşam kalitesini artırmayı ve hastanede kalış sürelerini azaltmayı amaçlar.</p>
                <h3 class="mt-4">Evde Sağlık Hizmetlerine Nasıl Başvurulur?</h3>
                <p>Hasta veya hasta yakını tarafından Türkiye’nin genelinde tahsis edilen <strong>444 38 33 (444 EV DE)</strong> numaralı telefon aranarak başvuru yapılabilir. Başvurular kayıt altına alınarak Evde Sağlık Hizmetleri Ekibimiz tarafından yerinde değerlendirilir. Evde Sağlık Hizmetleri Sağlık Bakanlığımızca sunulmakta olup ücretsizdir.</p>
                <a href="#" class="btn btn-outline-secondary">Daha Fazla Bilgi</a>
            </div>
        </div>
    </div>
</section>
