
@{
    ViewBag.Title = "KonusmaTerapi";
    Layout = "~/Views/Shared/_Anasayfa.cshtml";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bartın Hastanesi - Dil ve Konuşma Terapisi</title>


</head>
<body>
   
       
    <div class="container">
        <h1 class="text-center">Dil ve Konuşma Terapisi</h1>
        <progress class="progress-bar progress-bar-striped progress-bar-animated" id="progress" value="0" max="100" style="width: 100%; margin-bottom: 20px;"></progress>
        <section>
            <div class="accordion" id="accordionExample">
                <div class="steps">

                    <button class="step-button btn btn-primary" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        1
                    </button>
                    <div class="step-title">
                        <b>Gecikmiş Konuşma</b>
                    </div>
                    <div class="card">
                        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                            <div class="card-body">
                                <p>
                                    Gecikmiş konuşma terapisi içeriği buraya gelecek. Bartın Hastanesi'nde dil ve konuşma terapisi hizmeti,
                                    gecikmiş konuşma durumlarında uzman terapistler tarafından sunulmaktadır. Gecikmiş konuşma, çocuğun normal
                                    konuşma gelişim sürecinde yaşına uygun beklenen kilometre taşlarını geçmesiyle ortaya çıkar. Bu durum, çocuğun
                                    yaşına ve gelişim seviyesine bağlı olarak çeşitlilik gösterebilir. Bartın Hastanesi'nde uzman terapistler,
                                    çocuklarda gecikmiş konuşma durumuna yönelik bireyselleştirilmiş terapi programları sunarak iletişim becerilerini
                                    geliştirmeye yardımcı olmaktadır.
                                </p>
                                <p>
                                    Gecikmiş konuşma terapisi, çocuğun dil ve konuşma becerilerini geliştirmeyi, konuşma akıcılığını artırmayı
                                    ve iletişim becerilerini güçlendirmeyi hedefler. Terapi süreci, çocuğun ihtiyaçlarına, güçlü ve zayıf yanlarına
                                    göre özelleştirilir. Terapistler, çocuğun motivasyonunu ve katılımını artırmak için oyun ve etkileşim temelli
                                    terapi teknikleri kullanır.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="step-item">
                    <button class="step-button btn btn-primary collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        2
                    </button>
                    <div class="step-title">
                        <b> Gelişimsel Dil Bozuklukları</b>
                    </div>
                    <div class="card">
                        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                            <div class="card-body">
                                <p>
                                    Gelişimsel dil bozuklukları terapisi içeriği buraya gelecek. Bartın Hastanesi'nde dil ve konuşma terapisi,
                                    gelişimsel dil bozuklukları olan bireylere yönelik uzman terapistler tarafından sağlanmaktadır. Gelişimsel dil
                                    bozuklukları, çocukluk döneminde dil ve konuşma becerilerinin gelişimindeki normal sürecin dışında kalan
                                    durumları ifade eder. Bu durumlar çocuğun dil anlama, konuşma ve iletişim becerilerini etkileyebilir ve eğitim
                                    gerektirebilir.
                                </p>
                                <p>
                                    Bartın Hastanesi'nde uzman dil ve konuşma terapistleri, çocuklarda gelişimsel dil bozukluklarına yönelik
                                    etkili terapi programları sunmaktadır. Terapi süreci genellikle çocuğun bireysel ihtiyaçlarına ve durumuna
                                    göre özelleştirilir. Gelişimsel dil bozuklukları terapisi, çocuğun iletişim becerilerini geliştirmeyi, dil
                                    anlama ve ifade etme yeteneklerini artırmayı ve sosyal etkileşimlerini desteklemeyi hedefler.
                                </p>
                            </div>
                        </div>
                    </div>


                    <div class="step-item">
                        <button class="step-button btn btn-primary collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                            3
                        </button>
                        <div class="step-title">
                            <b> Konuşma Sesi Bozuklukları</b>
                        </div>
                    </div>
                    <div class="step-item">
                    </div>


                    <div class="card">
                        <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                            <div class="card-body">
                                <p>
                                    Konuşma sesi bozuklukları terapisi içeriği buraya gelecek. Bartın Hastanesi'nde dil ve konuşma terapisi,
                                    konuşma sesi bozuklukları olan hastalara yönelik etkili terapi seçenekleri sunmaktadır. Konuşma sesi
                                    bozuklukları, kişinin konuşma sesinin kalitesi, sesin yüksekliği, tonu veya akıcılığı gibi özelliklerdeki
                                    anormal değişiklikleri ifade eder. Bu tür bozukluklar konuşma anlaşılabilirliğini ve iletişim becerilerini
                                    etkileyebilir.
                                </p>
                                <p>
                                    Bartın Hastanesi'nde uzman dil ve konuşma terapistleri, bireylere özelleştirilmiş terapi programları sunarak
                                    konuşma sesi bozukluklarının etkilerini azaltmaya ve iletişim becerilerini güçlendirmeye yardımcı olmaktadır.
                                    Konuşma sesi bozuklukları terapisi genellikle bireyin durumuna ve ihtiyaçlarına göre özelleştirilir. Terapi
                                    süreci, konuşma sesi bozukluğunun türüne, şiddetine ve etkilerine bağlı olarak değişebilir.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </section>
    </div>

    <script src="~/Content/dilkonusma.js"></script>
</body>
</html>
