
@{
    ViewBag.Title = "Tarihcemiz";
    Layout = "~/Views/Shared/_Anasayfa.cshtml";
}
<link href="~/Content/tarihce.css" rel="stylesheet" />
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
<section class="timeline_area section_padding_130">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-sm-8 col-lg-6">
                <!-- Section Heading-->
                <div class="section_heading text-center">
                    <h6>Bartın Devlet Hastanesi Tarihçesi</h6>
                    <h3>Bir Bakışta Bartın Devlet Hastanesi'nin Geçmişi</h3>
                    <div class="line"></div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <!-- Timeline Area-->
                <div class="apland-timeline-area">
                    <!-- Single Timeline Content-->
                    <div class="single-timeline-area">
                        <div class="timeline-date wow fadeInLeft" data-wow-delay="0.1s" style="visibility: visible; animation-delay: 0.1s; animation-name: fadeInLeft;">
                            <p>2024</p>
                        </div>
                        <div class="row">
                            <div class="col-12 col-md-6 col-lg-4">
                                <div class="single-timeline-content d-flex wow fadeInLeft" data-wow-delay="0.3s" style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInLeft;">
                                    <div class="timeline-icon"><i class="fa fa-hospital" aria-hidden="true"></i></div>
                                    <div class="timeline-text">
                                        <h6>Yeni Hastane Açılışı</h6>
                                        <p>Bartın Devlet Hastanesi'nin yeni binası açıldı. Modern tesislerde sağlık hizmetlerine başlandı.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-6 col-lg-4">
                                <div class="single-timeline-content d-flex wow fadeInLeft" data-wow-delay="0.5s" style="visibility: visible; animation-delay: 0.5s; animation-name: fadeInLeft;">
                                    <div class="timeline-icon"><i class="fa fa-stethoscope" aria-hidden="true"></i></div>
                                    <div class="timeline-text">
                                        <h6>Uzman Kadro</h6>
                                        <p>Bartın Devlet Hastanesi, uzman kadrosunu genişleterek daha kapsamlı sağlık hizmetleri sunmaya başladı.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-6 col-lg-4">
                                <div class="single-timeline-content d-flex wow fadeInLeft" data-wow-delay="0.7s" style="visibility: visible; animation-delay: 0.7s; animation-name: fadeInLeft;">
                                    <div class="timeline-icon"><i class="fa fa-users" aria-hidden="true"></i></div>
                                    <div class="timeline-text">
                                        <h6>Toplum Sağlığı Projeleri</h6>
                                        <p>Bartın Devlet Hastanesi, toplum sağlığını destekleyici projelere aktif olarak katılmaya başladı.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Single Timeline Content-->
                    <div class="single-timeline-area">
                        <div class="timeline-date wow fadeInLeft" data-wow-delay="0.1s" style="visibility: visible; animation-delay: 0.1s; animation-name: fadeInLeft;">
                            <p>2023</p>
                        </div>
                        <div class="row">
                            <div class="col-12 col-md-6 col-lg-4">
                                <div class="single-timeline-content d-flex wow fadeInLeft" data-wow-delay="0.3s" style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInLeft;">
                                    <div class="timeline-icon"><i class="fa fa-handshake-o" aria-hidden="true"></i></div>
                                    <div class="timeline-text">
                                        <h6>İş Birlikleri</h6>
                                        <p>Bartın Devlet Hastanesi, çeşitli kurumlar ve kuruluşlarla iş birlikleri yaparak hizmet kalitesini artırdı.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-6 col-lg-4">
                                <div class="single-timeline-content d-flex wow fadeInLeft" data-wow-delay="0.5s" style="visibility: visible; animation-delay: 0.5s; animation-name: fadeInLeft;">
                                    <div class="timeline-icon"><i class="fa fa-medkit" aria-hidden="true"></i></div>
                                    <div class="timeline-text">
                                        <h6>Hizmet Çeşitliliği</h6>
                                        <p>Yeni tıbbi ekipmanlar ve teknolojilerle, Bartın Devlet Hastanesi sağlık hizmetlerini genişletti.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-6 col-lg-4">
                                <div class="single-timeline-content d-flex wow fadeInLeft" data-wow-delay="0.7s" style="visibility: visible; animation-delay: 0.7s; animation-name: fadeInLeft;">
                                    <div class="timeline-icon"><i class="fa fa-trophy" aria-hidden="true"></i></div>
                                    <div class="timeline-text">
                                        <h6>Kalite Ödülleri</h6>
                                        <p>Bartın Devlet Hastanesi, sağlık hizmetlerindeki kalitesi nedeniyle çeşitli ödüller aldı.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
